# Lab 1 - Exploratory Data Analysis
## CAP 5771 - Principles of Data Mining
### Professor: Miguel Alonso Jr.

## Instructions

Please complete this lab assignment. Follow along carefully and answer all questions. Coding tasks should be coded inline within the jupyter notebook. No additional files are need or accepted unless otherwise noted. All data files can be found in the data folder on the github repo. Please read the contents of each section, as well as the comments in each cell. Add your code where it says 'Insert your code here'. Also, please be sure to answer any questions inline in markdown.

## Objectives

6000 "best books" were downloaded and assembled into a csv file. check out the  [Goodreads](https://goodreads.com). The "rating" of each book came is calculated by Goodreads and posted on their website. The csv file contains data for each book, including the book rating. The objective of this this lab is to clean and further parse the data. Then, you will do some exploratory data analysis to answer questions about these best books and popular genres.

By the end of this lab, you should be able to:

1. Load a dataset and address missing values
2. Parse columns in the dataframe to create new dataframe columns
3. Create and interpret visualizations to explore the data set

## Basic Exploratory Data Analysis (EDA) Workflow

The basic EDA workflow is as follows:

1. **Build** a DataFrame from the data
2. **Clean** the DataFrame with the following properites:
    - Each row describes a single object
    - Each column describes a property or feature of that object
    - Columns are numeric whenever appropriate (easier to work with)
    - Object properties are atomic that cannot be further decomposed
3. Explore global properties using histograms, scatter plots, and aggregation functions to summarize the data.
4. Explore group properties using groupby and small multiples to compare subsets of the data.

This process transforms the data into a format which is easier to work with, gives a basic overview of the data's properties, and likely generates several questions for you to followup in subsequent analysis.

## Data loading and cleaning

In order to process the data, you must load the data from the csv file, [goodreads.csv](). If you've cloned this repository, the data is located in a folder called data, located in the Labs folder of the repository. Otherwise, make sure that you download the file and load it with the appropriate path.

Your task for this part is to load the data into a pandas dataframe and resolve any issues related to the loading of the data. Report any issues encountered during loading.

You'll need the following libraries imported.

In [ ]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

# some tweaks to the default options in pandas
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)

### Loading the data into a dataframe

The first step is to load the data into the dataframe from the csv file. Go ahead and try loading it. If you load the data as is, do you notice any issues about the data? You can try exploring the raw data file in another program such as excel or your favorite text editor to see what's going on.

In [5]:
#Read the data into a dataframe
df = pd.read_csv("https://raw.githubusercontent.com/drmaj/CAP5771/8798a46ce2b2e526292bd229379344239b239ba9/Labs/data/goodreads.csv")

# Print out the first couple of rows of the dataframe
####### 
#   Insert your code
#######
df.head()

   4.40 136455  0439023483  good_reads:book https://www.goodreads.com/author/show/153394.Suzanne_Collins    2008 /genres/young-adult|/genres/science-fiction|/genres/dystopia|/genres/fantasy|/genres/science-fiction|/genres/romance|/genres/adventure|/genres/book-club|/genres/young-adult|/genres/teen|/genres/apocalyptic|/genres/post-apocalyptic|/genres/action                dir01/2767052-the-hunger-games.html  2958974            The Hunger Games (The Hunger Games, #1)
0  4.41  16648  0439358078  good_reads:book  https://www.goodreads.com/author/show/1077326....            2003.0  /genres/fantasy|/genres/young-adult|/genres/fi...                                                                                                                                                                                                     dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...  1284478  Harry Potter and the Order of the Phoenix (Har...
1  3.56  85746  0316015849  good_reads:book  https://www.goodreads.com/author/show/941441.S...            2005.0  /genres/young-adult|/genres/fantasy|/genres/ro...                                                                                                                                                                                                                             dir01/41865.Twilight.html  2579564                            Twilight (Twilight, #1)
2  4.23  47906  0061120081  good_reads:book  https://www.goodreads.com/author/show/1825.Har...            1960.0  /genres/classics|/genres/fiction|/genres/histo...                                                                                                                                                                                                                 dir01/2657.To_Kill_a_Mockingbird.html  2078123                              To Kill a Mockingbird
3  4.23  34772  0679783261  good_reads:book  https://www.goodreads.com/author/show/1265.Jan...            1813.0  /genres/classics|/genres/fiction|/genres/roman...                                                                                                                                                                                                                   dir01/1885.Pride_and_Prejudice.html  1388992                                Pride and Prejudice
4  4.25  12363  0446675539  good_reads:book  https://www.goodreads.com/author/show/11081.Ma...            1936.0  /genres/classics|/genres/historical-fiction|/g...                                                                                                                                                                                                                   dir01/18405.Gone_with_the_Wind.html   645470                                 Gone with the Wind

Now go ahead and read the csv file, adding the appropriate column headings described above.

In [6]:
df=pd.read_csv("https://raw.githubusercontent.com/drmaj/CAP5771/8798a46ce2b2e526292bd229379344239b239ba9/Labs/data/goodreads.csv", header=None, names=['rating',
                                                           'review_count',
                                                           'isbn',
                                                           'booktype',
                                                           'author_url',
                                                           'year',
                                                           'genre_urls',
                                                           'dir',
                                                           'rating_count',
                                                           'name'])

# Print out the first couple of rows of the dataframe
####### 
#   Insert your code
#######
df.head()

   rating review_count        isbn         booktype                                         author_url    year                                         genre_urls                                                dir rating_count                                               name
0    4.40       136455  0439023483  good_reads:book  https://www.goodreads.com/author/show/153394.S...  2008.0  /genres/young-adult|/genres/science-fiction|/g...                dir01/2767052-the-hunger-games.html      2958974            The Hunger Games (The Hunger Games, #1)
1    4.41        16648  0439358078  good_reads:book  https://www.goodreads.com/author/show/1077326....  2003.0  /genres/fantasy|/genres/young-adult|/genres/fi...  dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...      1284478  Harry Potter and the Order of the Phoenix (Har...
2    3.56        85746  0316015849  good_reads:book  https://www.goodreads.com/author/show/941441.S...  2005.0  /genres/young-adult|/genres/fantasy|/genres/ro...                          dir01/41865.Twilight.html      2579564                            Twilight (Twilight, #1)
3    4.23        47906  0061120081  good_reads:book  https://www.goodreads.com/author/show/1825.Har...  1960.0  /genres/classics|/genres/fiction|/genres/histo...              dir01/2657.To_Kill_a_Mockingbird.html      2078123                              To Kill a Mockingbird
4    4.23        34772  0679783261  good_reads:book  https://www.goodreads.com/author/show/1265.Jan...  1813.0  /genres/classics|/genres/fiction|/genres/roman...                dir01/1885.Pride_and_Prejudice.html      1388992                                Pride and Prejudice

### Quick checks

It's always a good idea to examine the data before doing any further preprocessing or analysis.

In [7]:
# Check the column data types
####### 
#   Insert your code
#######
dataTypeSeries = df.dtypes
 
print('Data type of each column of Dataframe :')
print(dataTypeSeries)

Data type of each column of Dataframe :
rating          float64
review_count     object
isbn             object
booktype         object
author_url       object
year            float64
genre_urls       object
dir              object
rating_count     object
name             object
dtype: object

What else should be checked? Research other important checks to make on the dataset before moving on.

In [9]:
# Check a few more properties of the dataset before moving on
####### 
#   Insert your code
####### 
df.shape

(6000, 10)

In [ ]:
### Examining a bit further

Many times, we need to examine the data further before moving on. One thing that's always important to check is to make sure that the data does not have any missing values.

Was the data read correctly? Were the values represented properly, as expected?

### Examining a bit further

Many times, we need to examine the data further before moving on. Sure checking the properties of the dataset are important, as is checking the first $n$ rows. But one thing that's always important to check is to make sure that the data does not have any missing values.

In [15]:
# Check to see how many missing values there are in the dataframe
####### 
#   Insert your code
#######
df.isnull()

      rating  review_count   isbn  booktype  author_url   year  genre_urls    dir  rating_count   name
0      False         False  False     False       False  False       False  False         False  False
1      False         False  False     False       False  False       False  False         False  False
2      False         False  False     False       False  False       False  False         False  False
3      False         False  False     False       False  False       False  False         False  False
4      False         False  False     False       False  False       False  False         False  False
...      ...           ...    ...       ...         ...    ...         ...    ...           ...    ...
5995   False         False  False     False       False  False       False  False         False  False
5996   False         False  False     False       False  False       False  False         False  False
5997   False         False  False     False       False  False       False  False         False  False
5998   False         False   True     False       False  False       False  False         False  False
5999   False         False  False     False       False  False       False  False         False  False

[6000 rows x 10 columns]

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 10 columns):
rating          5998 non-null float64
review_count    6000 non-null object
isbn            5525 non-null object
booktype        6000 non-null object
author_url      6000 non-null object
year            5993 non-null float64
genre_urls      5938 non-null object
dir             6000 non-null object
rating_count    6000 non-null object
name            6000 non-null object
dtypes: float64(2), object(8)
memory usage: 468.9+ KB

In [19]:
df_missing = df.isna()
df_missing.head()

   rating  review_count   isbn  booktype  author_url   year  genre_urls    dir  rating_count   name
0   False         False  False     False       False  False       False  False         False  False
1   False         False  False     False       False  False       False  False         False  False
2   False         False  False     False       False  False       False  False         False  False
3   False         False  False     False       False  False       False  False         False  False
4   False         False  False     False       False  False       False  False         False  False

In [20]:
df_missing_sum = df_missing.sum()

df_missing_sum

rating            2
review_count      0
isbn            475
booktype          0
author_url        0
year              7
genre_urls       62
dir               0
rating_count      0
name              0
dtype: int64

In [16]:
# Now, locate where the missing values occur
####### 
#   Insert your code
####### 
df.isnull().values.any(axis=1)

array([False, False, False, ..., False,  True, False])

How do libraries like [pandas](https://pandas.pydata.org/) or [numpy](https://numpy.org/) handle missing values when trying to compute using datasets that contain them?

### Treating missing values

So something needs to be done about 'missing' or 'invalid' values in the data (hint: check where they occur)? One thing that can be done is exclude them from the dataframe altogther. That begs the question: Is this appropriate for all 'missing'/'invalid' values? How would you drop these values from the dataframe (hint: is it possible to eliminate just a single entry in your dataframe? Should you eliminate an entire row? Or how about the entire column?)?

In [12]:
# Address the missing or invalid values in your dataframe
####### 
#   Insert your code
#######

      rating  review_count   isbn  booktype  author_url   year  genre_urls    dir  rating_count   name
0      False         False  False     False       False  False       False  False         False  False
1      False         False  False     False       False  False       False  False         False  False
2      False         False  False     False       False  False       False  False         False  False
3      False         False  False     False       False  False       False  False         False  False
4      False         False  False     False       False  False       False  False         False  False
...      ...           ...    ...       ...         ...    ...         ...    ...           ...    ...
5995   False         False  False     False       False  False       False  False         False  False
5996   False         False  False     False       False  False       False  False         False  False
5997   False         False  False     False       False  False       False  False         False  False
5998   False         False   True     False       False  False       False  False         False  False
5999   False         False  False     False       False  False       False  False         False  False

[6000 rows x 10 columns]

In [13]:
df.notnull()

      rating  review_count   isbn  booktype  author_url  year  genre_urls   dir  rating_count  name
0       True          True   True      True        True  True        True  True          True  True
1       True          True   True      True        True  True        True  True          True  True
2       True          True   True      True        True  True        True  True          True  True
3       True          True   True      True        True  True        True  True          True  True
4       True          True   True      True        True  True        True  True          True  True
...      ...           ...    ...       ...         ...   ...         ...   ...           ...   ...
5995    True          True   True      True        True  True        True  True          True  True
5996    True          True   True      True        True  True        True  True          True  True
5997    True          True   True      True        True  True        True  True          True  True
5998    True          True  False      True        True  True        True  True          True  True
5999    True          True   True      True        True  True        True  True          True  True

[6000 rows x 10 columns]

Always check your work. Is it enough?

In [14]:
# Check the column data types again
####### 
#   Insert your code
#######
print(dataTypeSeries)

rating          float64
review_count     object
isbn             object
booktype         object
author_url       object
year            float64
genre_urls       object
dir              object
rating_count     object
name             object
dtype: object

The float has not yet changed. Those types need to be fixed with a type conversion. If this fails, then further exploration to correct the issue is needed.

In [ ]:
# Convert rating_count, review_count and year to int 
#######
# .Insert your code
#######

Other columns that have NaN should also be handled, such as string columns.

In [ ]:
df.loc[df.genre_urls.isnull(), 'genre_urls']=""
df.loc[df.isbn.isnull(), 'isbn']=""

### Asking questions

Recall the goal of data mining is to extract knowledge from data. So, there should always be questions to ask. Think of few questions and then examine the data and decide if the dataframe contains what you need to address these questions.

Example: Which are the highest rated books? To determine this, you'll only need the data in two columns: name and rating. The task will be to sort these two columns by the value in rating. [5 min]

## Parsing and Completing the data

Sometimes, columns contain the information that we need, but not in the right form. Typically, we will need to do additional processing on these columns to create new columns with the right information. Take a look at the author_url or genre_url columns. There's information in those entries that we'd like to keep (like the author names and genres) but, there's additional information that's not that helpful. Pandas has features, such as the map feature, that allow us to assign new columns to the dataframe, along with some type of transformation. We'll be using that feature to add two new columns: **author** and **genre**.

---

First things first: explore the author_url and genre_url columns to understand how the urls are structured and then formulate what type of string operations are required to isolate the author's name and the genres the books belong to.

In [ ]:
#Get the first author_url
author_test_string = df.author_url[0]
author_test_string

# Apply some string operations to isolate the author name
####### 
#   Insert your code
#######

In [ ]:
#Examine some examples of genre_urls
# Insert your code here

# Apply some string operations to isolate the genre name
####### 
#   Insert your code
#######

Now go ahead and write two functions, one that takes an author_url and returns the author's name, and the second, a function that takes the genre_urls, and returns the genre names, separated by a pipe character "|" (known as the delimeter).

In [ ]:
# Write a function that accepts an author url and returns the author's name
def extract_author(url):
    ####### 
    #   Insert your code
    ####### 
    return name

#Apply the get_author function to the 'author_url' column using '.map' 
#and add a new column 'author' to store the names
df['author'] = df.author_url.map(extract_author)
df.author[0:5]

In [ ]:
#Write a function that accepts a genre url and returns the genres as a string, separated by a pipe character
def extract_genres(url):
    ####### 
    #   Insert your code
    ####### 
    return genre

df['genres']=df.genre_urls.map(extract_genres)
df.head()

## EDA

The next step, after some basic data preparation and preprocessing, is to create some basic visualizations, such as histograms (with both linear and log-linear scales), from the data.

### BASIC EDA

Create a histogram of some of the columns in the dataframe.

In [ ]:
# Generate histograms using the format df.YOUR_CHOICE_OF_COLUMN_NAME.hist(bins=YOUR_CHOICE_OF_BIN_SIZE)
####### 
#   Insert your code
####### 

plt.xlabel('Label the x-axis appropriately')
plt.ylabel('Label the y-axis appropriately')
plt.title('Title the plot appropriately')

plt.show()

Sometimes, the parameters chosen don't produce useful graphs. Go ahead and vary those parameters until the histograms make sense.

In [ ]:
# Generate histograms using the format df.YOUR_CHOICE_OF_COLUMN_NAME.hist(bins=YOUR_CHOICE_OF_BIN_SIZE)
# Be sure to vary the parameters, e.g. bin size, in order to produce useful graphs
####### 
#   Insert your code
####### 

plt.xlabel('Label the x-axis appropriately')
plt.ylabel('Label the y-axis appropriately')
plt.title('Title the plot appropriately')

plt.show()

### Finding the best books

Pandas is a great framework for analyzing datasets. It includes many useful features that allows for taking different view on the data. For example, the groupby function of a dataframe allows for grouping the data by one of the features (columns). This is an example of analyzing the dataset by a "grouped property" type.

For the goodreads dataset, use the groupby feature to find the "best book" by year. Think about what it means to be the "best book" and use it to determine the best book by year.

In [ ]:
# Using .groupby, we can divide the dataframe into subsets by the values of 'year'.
# The groupby function returns an iterator that can be used to iterate through the
# dataset and calculate over the subsets. Save the results into a new dataframe with
# one column for year and one column for book of the year and print the first few records
# of the dataset.
for year, subset in df.groupby('year'):
    # Find the best book of the year
    ####### 
    #   Insert your code
    #######

Do this for other definitions of "best book" using the groupby dataframe function, e.g. find the best book by author, define best book by review count, etc.

### Trends in the data

Thinking about the previous example of using groupby, we can take a look at trends in the data. For example, we can try to answer the following questions:
1. Which is the most popular genre in any give month?
2. What's the overall most popular genre?
3. What conclusions can be drawn about the popularity of genres over time?

To answer these questions, we first need to find the unique genres in the dataset. Recall that each genre string is a pipe (|) separated list of genres. We'll start by identifying if the genre string is indeed a pipe separated list. If it is, we return True, otherwise we return False. Then, we can parse those pip separated genre strings into the individual genres and add them to a python set (python sets only contain unique elements, regardless of how many times an element is added to the set). We can return the set once we've iterated through the entire dataframe.

In [ ]:
# Return the unique genres contained in the dataframe.
####### 
#   Insert your code
#######

Can we add a column to the dataframe for each genre? Is this way of representing genre efficient? Does it allows for easy computation and visualization? Are there alternative ways to represent the genre information that allow for easy visualization?

In [ ]:
# Add a column to the dataframe for each genre
####### 
#   Insert your code
####### 

# check the size of the new dataframe
df.shape

Go ahead and create some visualizations of the genres in the dataset, e.g., create a visualization that allows for us to identify which is the most represented genre.

## Conclusions

Pick three genres and describe how the popularity of these genres fluctuates with time. Go ahead and produce a time series representation of the genre popularity to aid in your description.